doctype html
html
  head
    block head
      meta(charset="utf-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="description", content="")
      meta(name="viewport", content="width=device-width")
      title My website

      link(rel="shortcut icon", href="/favicon.ico")

      // build:css styles/vendor.css
      // bower:css
      //- link(rel="stylesheet", href="../bower_components/bootstrap/dist/css/bootstrap.css")
      // endbower
      // endbuild

      // build:css(.tmp) styles/main.css
      link(rel="stylesheet", href="styles/main.css")
      // endbuild

  block body
    body
      block browserWarning
        include ../partials/browserWarning
     
      block header
        include ../partials/header

        block content

        block footer
          include ../partials/footer
